<ion-app>
  <!-- side menu of the application  -->
  <ion-menu side="start" menuId="first" menuId='menu1'>
    <ion-header>
      <ion-toolbar>
        <ion-title>Little BnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- register a toggle listener to the menu -->
        <ion-menu-toggle>
          <ion-item lines='none' routerLink='/places/tabs/discover'>
            <ion-icon name='business' slot='start'></ion-icon>
            <ion-label>Disocver Places</ion-label>
          </ion-item>
          <ion-item lines='none' routerLink='/bookings'>
            <ion-icon name='checkbox-outline' slot='start'></ion-icon>
            <ion-label>Your Booking</ion-label>
          </ion-item>
          <ion-item lines='none' button (click)="onLogout()">
            <ion-icon name='exit' slot='start'></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <!-- page content -->
  <ion-router-outlet main></ion-router-outlet>
</ion-app>